<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lyhoo.nfc">

    <uses-permission android:name="android.permission.NFC" />
    <!-- 要求当前设备必须要有NFC芯片 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".read_text"
            android:label="取货"
            android:launchMode="singleTop" />
        <activity android:name=".person" />
        <activity
            android:name=".give_thing"
            android:label="寄货"
            android:launchMode="singleTop" />
        <activity android:name=".analog_card" />
        <activity
            android:name=".login"
            android:label="登录">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:label="注册"/>
    </application>

</manifest>